/**
 * MAIN STYLESHEET FOR EPIMETRICS WEBSITE
 * @author Chi Senires
 * @version 5 February 2018
 *
 */

/**
 * MAIN VARIABLES
 */
/* Typefaces */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

:root {
	/* Color Scheme */
	--epimetrics-red: #bd1515;
	--epimetrics-red-highlight: #cc3333;
	--epimetrics-red-shadow: #830800;
	--epimetrics-gray: #3c3d3c;
	--epimetrics-gray-highlight: #686f76;
	--epimetrics-lightred: #ee1c25;
	--epimetrics-lightred-highlight: #f5796d;
	--epimetrics-brown: #b85947;
	--epimetrics-brown-highlight: #fbc29c;
	--epimetrics-green: #00864b;
	--epimetrics-blue: #172e7c;

	--white: #fff;
	--text-color: #000;

	/* Measurements */
	--nav-height: 4em;

	/* Typography */
	--heading-text: "Roboto Condensed", Arial, sans-serif;
	--body-text: "Roboto", Arial, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: var(--secondary);
	font-size: 16px;
	font-family: var(--body-text);
	line-height: 1.75;

	display: grid;
	grid-template-rows: var(--nav-height) 1fr 4em;
	grid-template-columns: 100%;
	grid-template-areas: "header"
											 "main"
											 "footer";
}

a {
	text-decoration: none;
	transition: 0.2s ease;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-text);
}

/**
 * HEADER styles
 */
header {
	height: var(--nav-height);
	display: flex;
	width: 100vw;
	justify-content: space-between;
	background-color: var(--epimetrics-red);
	padding: 0 2em;
	box-shadow: 0 0 10px 2.5px rgba(0,0,0,0.15);
	position: fixed;
	z-index: 60;
	grid-area: header;
}

header > .brand {
	display: block;
	height: 100%;
	margin-left: -2em;
}

header > .brand img {
	height: 100%;
	width: auto;
	display: block;
}

/* Navigation */
nav.main-nav {
	display: flex;
	align-items: center;
	height: 100%;
}

#show-nav {
	/* TODO: add styles here in the future */
	display: none;
}

.nav-items, .social-media-links {
	list-style-type: none;
	display: inline-block;
	height: 100%;
}

.nav-items {
	margin-right: 1em;
}

.nav-items > .nav-item,
.social-media-links > .social-media-link {
	display: inline-block;
	height: 100%;
}

.nav-items > .nav-item > a,
.social-media-links > .social-media-link > a {
	display: block;
	color: var(--white);
	padding: 1.2em 1em;
	height: 100%;
	background-color: transparent;
}

.nav-items > .nav-item > a:hover,
.nav-items > .nav-item > a:focus,
.social-media-links > .social-media-link > a:hover,
.social-media-links > .social-media-link > a:focus {
	background-color: var(--epimetrics-red-highlight);
}

/* Search Bar */
nav.main-nav .search-bar {
	display: inline-block;
	color: var(--white);
}

nav.main-nav .search-bar label {
	display: block;
	height: 100%;
	padding: 1em;
	cursor: pointer;
}

nav.main-nav .search-bar input[type=search] {
	margin-left: -1.5em;
	outline: none;
	font-family: inherit;
	font-size: 100%;
	background: transparent;
	border: 0px solid var(--epimetrics-gray);
	padding: 10px;
	width: 0;
	border-radius: 5em;
	color: transparent;
	cursor: pointer;
	transition: 0.4s ease;
}

nav.main-nav .search-bar input::-webkit-search-decoration,
nav.main-nav .search-bar input::-webkit-search-cancel-button {
	display: none; 
}

nav.main-nav .search-bar input[type=search]:focus {
	width: 12em;
	padding: 10px 20px;
	color: var(--text-color);
	background-color: #fff;
	cursor: auto;
	border-size: 1px;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

input:-moz-placeholder,
input::-webkit-input-placeholder {
	color: transparent;
}

/**
 * FOOTER styles
 */
footer {
	grid-area: footer;
	background-color: var(--text-color);
	color: var(--white);
	text-align: center;
	padding: 1em;
}

main {
	grid-area: main;
	min-height: calc(100vh - var(--nav-height)*2);
	height: auto;
}

main section {
	min-height: 100vh;
	min-height: calc(100vh - var(--nav-height));
	height: auto;
	position: relative;
	margin-bottom: var(--nav-height);
}

main section.with-background {
	background-color: var(--epimetrics-gray-highlight);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

main section .section-heading {
	color: var(--epimetrics-red);
	text-transform: uppercase;
	padding: 0.25em 0.75em;
	z-index: 10;
}

main section .big {
	font-size: 4em;
}

main section .topright-aligned {
	position: absolute;
	top: 1em;
	right: 0;
}

main section .bottomleft-aligned {
	position: absolute;
	bottom: 1em;
	left: 0;
}

main section .section-heading.big {
	background-color: var(--white);
}

#above-fold {
	display: block;
}

#above-fold-slider {
	display: block;
}

#above-fold-slider .slide {
	width: 100%;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: gray;
	color: white;
	padding: 1em;
	display: flex;
	align-items: center;
}

#above-fold-slider .slide .slide-text {
	width: 50%;
	padding: 2em;
}

.slide .slide-text h1 {
	font-size: 4em;
	line-height: 1.1;
	text-transform: uppercase;
}

main section .section-description {
	line-height: 1.7;
}

main section.with-background .section-description {
	font-size: 1.45em;
	color: var(--white);
}

main section .text-right-aligned {
	text-align: right;
}

main section.with-background .text-right-aligned {
	width: 50%;
	position: absolute;
	right: 10em;
	top: 45%;
}

main section .text-left-aligned {
	text-align: left;
}

main section.with-background .text-left-aligned {
	width: 50%;
	position: absolute;
	left: 5em;
	bottom: 45%;
}

main section .section-footer {
	width: 100%;
	position: absolute;
	bottom: -0.25em;
	left: 0;
	text-align: center;
	display: flex;
	justify-content: center;
}

main section .section-button {
	background-color: var(--white);
	color: var(--epimetrics-red);
	text-transform: uppercase;
	padding: 0.75em 1em;
	font-weight: 600;
	margin: 0 4em;
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
	position: relative;
}

main section .section-button::before {
	content: "";
	display: block;
	height: 3px;
	background-color: var(--epimetrics-red);
	position: absolute;
	left: 0;
	bottom: 0;
	right: 100%;
	transition-property: right;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

main section .section-button:hover::before,
main section .section-button:focus::before {
	right: 0;
}

#about-us {
	display: flex;
}

#about-us .slider-container {
	display: block;
	width: 50%;
}

#about-us-slider {
	display: block;
	width: 50%;
	height: 100%;
}

#about-us-slider .slide {
	display: block;
	width: 50%;
	height: calc(100vh - var(--nav-height));
}

#about-us-slider .slide img {
	display: block;
	object-fit: cover;
	height: 100%;
	max-width: 100%;
}

#about-us .section-description {
	display: block;
	background-color: var(--white);
	color: var(--text-color);
	height: 100%;
	width: 50%;
	padding: 4em;
}