---
layout: page
---

<section id="insights">
  <h2 class="section-heading">
    {% if page.category %}
      {{ page.category.name }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </h2>

  {% assign projects_size = site.projects | size %}
  {% if projects_size > 0 %}
    <div class="articles-grid">
      {% for project in site.projects %}
      	<a href="{{ project.url | absolute_url }}" class="{% if project.featured %} featured {% endif %}
      		article">
      		<img src="{{ project.infographic }}" alt="" class="article-image">
      		<div class="article-info">
      			<h3 class="article-title">{{ project.title }}</h3>
      			<div class="article-client">For {{ project.client }}</div>
      			<div class="article-tags">{{ project.tags | array_to_sentence_string }}</div>
      		</div>
    		</a>
      {% endfor %}
    </div>
  {% else %}
    No projects to show.
  {% endif %}

</section>