<!-- _includes/footer.html -->
<footer>
	<div class="left">
		<ul class="sitemap">
			{% for link in site.data.navigation %}
	    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
	    {% endfor %}
		</ul>
	</div>
	<div class="right">
		<div class="company-info">
			<ul class="social-media">
				{% for link in site.data.socialmedia %}
		    <li><a href="{{ link.url }}"><i class="fa fa-{{ link.title | downcase }}"></i> {{ link.title }}</a></li>
		    {% endfor %}
			</ul>
			<!-- <div class="address">
				{{ site.data.companyinfo.address }}
			</div> -->
			<a href="mailto:{{ site.data.companyinfo.contact_email }}" class="contact-email">{{ site.data.companyinfo.contact_email }}</a>
		</div>
	</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ base }}/assets/lightslider/js/lightslider.min.js"></script>
<script type="text/javascript" src="{{ base }}/js/main.js"></script>