<!-- _includes/header.html -->
<header id="header">
	<a href="{{ site.url }}" class="brand">
		<img src="{{ site.baseurl }}/img/logo.png" alt="{{ site.title }}">
	</a>
	<nav class="main-nav" role="navigation">
		<button id="show-nav" aria-expanded="false" aria-controls="menu">Menu</button>
		<ul class="nav-items">
			{% for link in site.data.navigation %}
	    	<li class="{% if page.title == link.title %} active {% endif %} nav-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
	    {% endfor %}
		</ul>
		<div class="search-bar">
			<form action="/search.html" method="get" id="search-site">
				<label for="search">
					<i class="fa fa-search"></i>
					<input type="search" id="search" placeholder="Search" name="query">
				</label>
			</form>
		</div>
	</nav>
</header>