<!-- for Social media sharing -->
<!-- Facebook -->
<meta property="og:url" content="{{ page.url | absolute_url }}">

{% if page.is_post %}
  <!-- If article or project post -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:image" content="{{ page.featured_image | absolute_url }}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.content | strip_html | truncatewords: 25 }}{% endif %}">
{% else %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:image" content="{% link img/epimetrics-cover.png %}">
  <meta property="og:image:alt" content="Epimetrics Logo">
  <meta property="og:description" content="{{ site.description }}">
{% endif %}

<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="en_US">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@epimetricsph">
<meta name="twitter:url" content="{{ page.url | absolute_url }}">

{% if page.is_post %}
  <meta property="twitter:title" content="{{ page.title }}">
  <meta property="twitter:image" content="{{ page.featured_image | absolute_url }}">
  <meta property="twitter:description" content="{% if page.description %}{{ page.description | truncate: 200 }}{% else %}{{ page.content | strip_html | truncate: 200 }}{% endif %}">
{% else %}
  <meta property="twitter:title" content="{{ site.title }}">
  <meta property="twitter:image" content="{% link img/epimetrics-cover.png %}">
  <meta property="twitter:image:alt" content="Epimetrics Logo">
  <meta property="twitter:description" content="{{ site.description | truncate: 200 }}">
{% endif %}