---
layout: page
---

<section id="our-team">
  <h2 class="section-heading">Our Team</h2>
  {% assign is_there_content = page.content | strip_newlines %}
  {% unless is_there_content == "" %}
    <div class="section-description">
      {{ content }}
    </div>
  {% endunless %}

  {% if site.data.team %}
    <div class="team-pictures">
      {% for member in site.data.team %}
        <div class="team-member">
          <div class="picture-with-quote">
            <img src="{{ member[1].photo_url }}" alt="">
            <div class="quote">{{ member[1].quote }}</div>
          </div>
          <div class="team-info">
            <h4 class="name">{{ member[1].name }}</h4>
            <h6 class="roles">{{ member[1].roles }}</h6>
            {% if member[1].links %}
              <div class="links">
                {% if member[1].links.email %}
                  <a href="mailto:{{ member[1].links.email }}" class="email"><i class="fa fa-envelope"></i></a>
                {% endif %}
                {% if member[1].links.linkedin %}
                  <a href="{{ member[1].links.linkedin }}" class="linkedin"><i class="fa fa-linkedin"></i></a>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

</section>