---
layout: page
---

<section class="wrapper" id="article-wrapper">
	<div class="page">
		{% if page.featured_image %}
		<img src="{{ page.featured_image }}" alt="" class="page-image">

		<div class="page-header">
			<div class="page-date">{{ page.date | date: "%B %Y" }}</div>
			<h1 class="page-title">{{ page.title | replace_regex: '\n', '<br>'}}</h1>
		</div>
		
		{% else %}
			<div class="page-header" style="display:block;width:100%;">
				<div class="page-date">{{ page.date | date: "%B %Y" }}</div>
				<h1 class="page-title">{{ page.title | replace_regex: '\n', '<br>'}}</h1>
			</div>
		{% endif %}


		<div class="page-content">
			{{ content }}
		</div>
	</div>

	<div class="article-staff">
		{% if page.authors %}<!-- if page has authors -->
			{% for author in page.authors %}
			<div class="featured-staff">
				{% if author.staff %}
					{% assign author = site.data.team[author.staff] %}
					<div class="staff-info">
						<h3 class="staff-name">{{ author.name }}</h3>
						<h5 class="staff-position">{{author.roles}}</h5>
					</div>
					{% if author.description %}<div class="staff-description">{{ author.description }}</div>{% endif %}
				{% endif %}
				{% if author.photo_url %}<img src="{{ author.photo_url }}" alt="">{% endif %}
				<div class="staff-info">
					<h3 class="staff-name">{{ author.name }}</h3>
					<h5 class="staff-position">{{author.roles}}</h5>
				</div>
				{% if author.description %}<div class="staff-description">{{ author.description }}</div>{% endif %}
			</div>
			{% if forloop.last != true %}{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	
	{% if page.comments %}
		<div class="article-comments">
			<div id="disqus_thread"></div>
			<script>
			    /**
			     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT 
			     *  THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR 
			     *  PLATFORM OR CMS.
			     *  
			     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: 
			     *  https://disqus.com/admin/universalcode/#configuration-variables
			     */
			    var disqus_config = function () {
			        // Replace PAGE_URL with your page's canonical URL variable
			        this.page.url = "{{ page.url | absolute_url }}";  
			        
			        // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			        this.page.identifier = "{{ page.id }}"; 
			    };
			    
			    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
			        var d = document, s = d.createElement('script');
			        
			        // IMPORTANT: Replace EXAMPLE with your forum shortname!
			        s.src = 'https://epimetrics.disqus.com/embed.js';
			        
			        s.setAttribute('data-timestamp', +new Date());
			        (d.head || d.body).appendChild(s);
			    })();
			</script>
			<noscript>
			    Please enable JavaScript to view the 
			    <a href="https://disqus.com/?ref_noscript" rel="nofollow">
			        comments powered by Disqus.
			    </a>
			</noscript>  
		</div>
	{% endif %}
</section>
