---
layout: page
---

<section id="careers">
  <h2 class="section-heading">Work With Us</h2>
  {% assign is_there_content = page.content | strip_newlines %}
  {% unless is_there_content == "" %}
    <div class="section-description" style="text-align: center;">
      {{ content }}
    </div>
  {% endunless %}

  {% if site.data.jobopenings %}
    <div class="jobs">
      {% for job in site.data.jobopenings %}
        <div class="job">
          <h3 class="job-title">{{ job.title }}</h3>
          <div class="job-description">{{ job.description | markdownify }}</div>
          <div class="job-keywords">{{ job.keywords | sort | array_to_sentence_string: '' }}</div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="section-description center">
      <h2>No Openings At The Moment.</h2>
    </div>
  {% endif %}
</section>