---
layout: page
---

<section id="insights">
  <h2 class="section-heading">{{ page.title }}</h2>
  {% assign is_there_content = page.content | strip_newlines %} {% unless is_there_content == "" %}
  <div class="section-description">
    {{ content }}
  </div>
  {% endunless %} {% assign posts_size = site.posts | size %} {% if posts_size > 0 %}
  <div class="articles-grid">
    <!-- Featured Post -->
    {% assign posts = site.posts | where: "featured", "true" %} {% for post in posts %}
      {% assign image_feature = post.featured_image %}
      {% unless image_feature %}{% assign image_feature = post.featured_image_alt %}{% endunless %}
    <a href="{{ post.url | absolute_url }}" class="featured article" style="background-image: url({{ image_feature }});  background-repeat: no-repeat;  
    background-attachment: scroll;  
    background-position: 0% 0%;
    background-size: contain;
    background-position: center top; 
    background-color: white;">
      <div class="article-info">
        <h3 class="article-title">{{ post.title }}</h3>
        {% if post.authors.size > 0 %}<div class="article-author">By
        {% for author in post.authors %}
          {{ author.name }}{% if forloop.last != true %}, {% endif %}
        {% endfor %}</div>{% endif %}
        <div class="article-month-year">{{ post.date | date: '%B %Y' }}</div>
      </div>
    </a>
    {% endfor %} {% assign posts = site.posts | where: "featured", "false" %} {% for post in posts %}
    {% assign image_feature = post.featured_image %}
      {% unless image_feature %}{% assign image_feature = post.featured_image_alt %}{% endunless %}
    <a href="{{ post.url | absolute_url }}" class="article" style="background-image: url({{ image_feature }});  background-repeat: no-repeat;  
    background-attachment: scroll;  
    background-position: 0% 0%;
    background-size: contain;
    background-position: 30% 15%;
    background-color: white;">
      <div class="article-info">
        <h3 class="article-title">{{ post.title }}</h3>
        {% if post.authors.size > 0 %}<div class="article-author">By 
        {% for author in post.authors %}
          {{ author.name }}{% if forloop.last != true %}, {% endif %}
        {% endfor %}</div>{% endif %}
        <div class="article-month-year">{{ post.date | date: '%B %Y' }}</div>
      </div>
    </a>
    {% endfor %}
  </div>
  {% else %}
  <!-- <div class="section-description center">
    <h3>Insights in Progress</h3>
    <p>Check back soon!</p> -->
  <!-- </div> -->
  {% endif %}

</section>