---
layout: page
permalink: /project/:building_blocks/:title
---

<section class="wrapper" id="project-wrapper">
	<div class="page">
		<img src="{{ page.featured_image }}" alt="" class="page-image">

		<div class="page-header">
			<div class="page-date">{{ page.date | date: "%B %Y" }}</div>
			<h1 class="page-title">{{ page.title }}</h1>
		</div>

		<div class="page-content">
			{{ content }}
		</div>
	</div>

	<div class="project-staff">
		<div class="staff-wrapper">
			{% for author in page.authors %}
				<div class="staff">
					<img src="{{ author.photo_url }}" alt="">
					<div class="info">
						<h3 class="name">{{ author.name }}</h3>
						<h4 class="team-info">{{ author.role }}</h4>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>