---
layout: page
---

<section id="projects">
  <h2 class="section-heading">
    {% if page.building_block %}
      {{ page.building_block }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </h2>
  {% assign is_there_content = page.content | strip_newlines %}
  {% unless is_there_content == "" %}
    <div class="section-description">
      {{ content }}
    </div>
  {% endunless %}

  <!-- Featured Project -->
  {% assign project_list = site.projects %}
  {% assign featured_project_list = project_list | where: "featured", "true" %}
  
  {% if page.building_block %}
    <!-- Check if page is for Building Block -->
    {% assign project_list = site.projects | where_exp: "item", "item.building_blocks contains page.building_block" %}
    {% assign featured_project_list = project_list | where: "featured", "true" %}
  {% endif %}

  {% assign projects_size = project_list | size %}
  
  <!-- check if there are any projects -->
  {% if projects_size > 0 %}

    {% assign featured_projects_size = featured_project_list | size %}
    {% if featured_projects_size == 0 %}
      {% if page.building_block %}
        {% assign first_project_in_list = project_list | first %}

        {% assign featured_project_list = featured_project_list | push: first_project_in_list %}
      {% endif %}
    {% endif %}

    <div class="articles-grid">
      <!-- Featured Project -->
      {% for project in featured_project_list %}
        <a href="{{ project.url | absolute_url }}" class="featured article" {% if project.image %}style="background-image: url({{ project.image }}); background-repeat: no-repeat;   background-attachment: scroll; background-position: 0% 0%; background-size: contain auto; background-position: 30% 15%; background-color: white;"{% endif %}>
      		<div class="article-info">
      			<h3 class="article-title">{{ project.title }}</h3>
            {% assign client = site.data.partners[project.client] %}
      			<div class="article-client">For {{ client.name }}</div>
      			<div class="article-tags">{{ project.building_blocks | array_to_sentence_string }}</div>
      		</div>
    		</a>
      {% endfor %}

      <!-- Regular Projects -->
      {% assign projects = project_list | where: "featured", "false" %}

      {% if page.building_block %}
        {% assign projects = project_list | where_exp: "item", "item.building_blocks contains page.building_block" | where: "featured", "false" %}
      {% endif %}

      {% for project in projects %}
        {% if project.title == featured_project_list[0].title %}{% continue %}{% endif %}
        <a href="{{ project.url | absolute_url }}" class="article" {% if project.image %}style="background-image: url({{ project.image }});"{% endif %}>
          <div class="article-info">
            <h3 class="article-title">{{ project.title }}</h3>
            {% assign client = site.data.partners[project.client] %}
            <div class="article-client">For {{ client.name }}</div>
            <div class="article-tags">{{ project.building_blocks | array_to_sentence_string }}</div>
          </div>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <div class="section-description" style="text-align: center;">
      No projects to show.
    </div>
  {% endif %}

</section>